<h1>Stupid Coaching</h1>
<div class="cointaner text-left">
  <div class="content">
    <div class="banner">
      <p>
        <i><%= @ask%></i>
        <br />
        -You
      </p>
    </div>

    <div class="banner">
      <p>
        <b>
          <%= @answer%>
        </b>
        <br />
        <i>-Your coach</i>
      </p>
    </div>
    <%= link_to "Ask a new question", ask_path %>
  </div>
</div>
